/*
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
*/

#first-block[b-m476st25xq] {
    width: 88%;
}

#first-block h1[b-m476st25xq] {
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.title-info p[b-m476st25xq] {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: var(--dark-grey);
}

.black-block[b-m476st25xq] {
    background-color: black;
    height: 700px;
    max-width: 450px;
}

@media only screen and (max-width: 768px) {
    #first-block[b-m476st25xq] {
        width: 95%;
        margin-bottom: 120px;
    }

    #first-block h1[b-m476st25xq] {
        font-size: 70px;
        line-height: 65px;
        margin-bottom: 48px;
    }

    .title-info[b-m476st25xq] {
        position: absolute;
        left: 389px;
        top: 145px;
        width: 41%;
    }

    .title-info p[b-m476st25xq] {
        margin-bottom: 48px;
    }

    .black-block[b-m476st25xq] {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    #first-block[b-m476st25xq] {
        height: 634px;
        width: 100%;
        font-family: 'Outfit', sans-serif;
    }

    #first-block h1[b-m476st25xq] {
        line-height: 55px;
        font-size: 3.75rem;
        /* or 92% */
        margin-bottom: 32px;
        text-transform: uppercase;
    }

    .title-info[b-m476st25xq] {
        position: static;
        width: 92%;
        margin: 0 16px;
    }

    .title-info p[b-m476st25xq] {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
        color: var(--dark-grey);
    }

    picture img[b-m476st25xq] {
        margin-bottom: 32px;
    }
}
