@page "/"

<PageTitle>Frontend Mentor | Art Gallery Website</PageTitle>
<section id="first-block">
    <div class="black-block"></div>
    <picture>
        <source media="(max-width:400px)" srcset="/assets/mobile/image-hero.jpg" />
        <source media="(max-width:768px)" srcset="/assets/tablet/image-hero.jpg" />
        <img src="/assets/desktop/image-hero.jpg" alt="image-hero" />
    </picture>
    <div class="title-info">
        <h1>Modern <br /> Art Gallery </h1>
        <p>
            The arts in the collection of the Modern Art Gallery all started
            from a spark of inspiration. Will these pieces inspire you? Visit
            us and find out.
        </p>

        <ArtBtn PathStr="location" Text="Our location" />
    </div>
</section>

<GridSection />

<Footer />

@code {

}
