@page "/location"

<ArtBtn PathStr="/" Text="Back to Home" />

<section>
    <h2>Our location</h2>

    <h5>99 King Street</h5>
    <p>
        Newport
        RI 02840
        United States of America
    </p>

    <p>
        Our newly opened gallery is located near the Edward King House on 99 King
        Street, the Modern Art Gallery is free to all visitors and open seven days
        a week from 8am to 9pm.
    </p>
</section>

<Footer />

@code {

}
