/*
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
*/

.btn1[b-tm34az9yay] {
    width: 260px;
    height: 72px;
    color: var(--white);
    border: none;
    display: flex;
    flex-direction: row;
}

.btn1 a[b-tm34az9yay] {
    display: inline-block;
    height: auto;
    width: 78%;
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3.63636px;
    background-color: var(--almost-black);
    text-decoration: none;
}

.arrow[b-tm34az9yay] {
    width: 58px;
    background-color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 a:link[b-tm34az9yay] {
    color: var(--white);
}

.btn1 a:visited[b-tm34az9yay] {
    color: var(--white);
}

.btn1 a:hover[b-tm34az9yay] {
    color: var(--white);
}

.btn1 a:active[b-tm34az9yay] {
    color: var(--white);
    background-color: var(--gold);
}

.btn1 a:active+div[b-tm34az9yay] {
    background-color: var(--almost-black);
}

@media only screen and (max-width: 400px) {

}