/*
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
*/

footer {
    font-family: 'Outfit', sans-serif;
    color: var(--white);
    background-color: var(--almost-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 26px;
    /* or 162% */

    text-transform: uppercase;
}

@media (min-width: 400px) and (max-width: 768px) {
    footer {
        width: stretch;
        padding: 56px 0;
        margin: 0 auto;
    }

    footer p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        width: 46%;
    }

    .social-icons {
        width: 16.5%;
        height:20px;
        display: flex;
        justify-content: space-between
    }

    footer section {
        width: 89%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

    @media only screen and (max-width: 400px) {
        footer {
            padding: 48px 32px;
        }

            footer h3 {
                width: 40%;
                margin-bottom: 38px;
            }

            footer p {
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                /* or 162% */
                margin-bottom: 38px;
            }

        .social-icons {
            width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }