
<footer>
     <h3>Modern Art Gallery</h3>
  
  <p>The Modern Art Gallery is free to all visitors and open seven days a week 
  from 8am to 9pm. Find us at 99 King Street, Newport, USA.</p>
</footer>

@code {

}
