
<footer>
    <section>
        <h3>Modern <br /> Art Gallery</h3>

        <p>
            The Modern Art Gallery is free to all visitors and open seven days a week
            from 8am to 9pm. Find us at 99 King Street, Newport, USA.
        </p>

        <div class="social-icons">
            <img src="/assets/icon-facebook.svg" alt="icon-facebook" />
            <img src="/assets/icon-instagram.svg" alt="icon-instagram" />
            <img src="/assets/icon-twitter.svg" alt="icon-twitter" />
        </div>
    </section>
</footer>

